/*  base.css
    Base CSS definitions for PForms Revisited.  This stylesheet should not be changed in any way without knowing what you are doing!
    (C)2023 Morgan Evans */

div.pfcontainer {
  display: flex;
  flex-wrap: wrap;
}

div.pfcontainer > div {
	max-width: 1fr;
}

div.pfcontainer > div.pformfield {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

div.pformfield div {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
	padding: 8px;
}

div.pformfield h1 + div {
	display: flex;
	flex-direction: row;
	align-items: end;
	flex-grow: 1;
}

div.pformfield div p, input, div.pformselectelement {
	position: relative;
	font-family: inherit;
	display: block;
	margin: 0px;
	flex: 1;
}

div.pformselectoptionsbox {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: start;
	flex-grow: 1;
	z-index: 9999 !important;
}

div.pformselectoption {
	display: block;
	padding: 0px;
	margin: 0px;
	flex: 1;
}