<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>PForms Revisited Prototyping - Flexbox Layouts</title>
    <meta charset="utf-8" />
    <meta name="description" content="Prototyping area to test layout capabilities and limitations of flexbox layout" />
    <meta name="author" content="Morgan Evans" />
    <link href="./base.css" rel="stylesheet" />
    <link href="./user.css" rel="stylesheet" />
    <script src="./base.js"></script>
  </head>
  <body onload="PFormsInit(); document.getElementById('userid').SetValue('5678')">
    <div class="pfcontainer" id="userinfo">
      <div class="pformfield" style="min-width: 200px" id="userid" pfheader="User ID" pftype="label" pfvalue="1234"></div>
      <div class="pformfield" style="min-width: 300px" id="username" pfheader="Username" pftype="text" pfhint="Enter username here"></div>
      <div class="pformfield" stype="min-width: 200px" id="department" pfheader="Department" pftype="text" pfhint="Enter your department here"></div>
    </div>
  </body>
</html>